.Button{
    padding: 1rem;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: darkred;
    color: white;
    font-weight: bold;
    display: grid;
    place-items: center;
    cursor: pointer;
}