.Accordion-Card{
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #1a1a1a50;
    position: relative;
    padding-bottom: 2rem;
}

.Accordion-Card-ShowMore{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.Accordion-Card-Description{
    display: none;
}

.Accordion-Card.Open .Accordion-Card-Description{
    display: block;
}

.Accordion-Card.Open .Accordion-Card-ShowMore{
    display: none;
}

.Accordion-Card.Open{
    padding-bottom: 1rem;
}